* {
    box-sizing: border-box;
    font-family: "nunito", sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    --background: #fafafa;
    --link: #b16a70;
    --hover: #9b4e54;
    --linkBackground: #f7e6e9;
}

body {
    background-color: var(--background);
}

header {
    padding: 2vh 0 0rem 0;
}

.no-display {
    display: none;
}

.header-contents {
    display: block;
    text-align: center;
    align-items: center;
}

/* BOOTSTRAP MODIFICATIONS */
.main-menu {
    display: block;
    text-align: center;
    padding-bottom: 1rem;
}

.menu-item {
    margin: 2rem 1rem;
    text-align: center;
    background-color: none;
    transition: all 0.75s ease-in-out;
    display: inline-flex;
    opacity: 100%;
    color: var(--link);
}

/* MENU */

.logo {
    width: 5em;
    height: 5em;
}

.nav-link, .menu-item a {
    color: var(--link);
    font-size: 1.6rem;
    font-variant-caps: all-small-caps;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.nav-link:hover, .menu-item a:hover, .nav-link:focus,
.menu-item a:focus {
    color: var(--hover);
    background-color: var(--linkBackground);
    transition: all 0s ease-in-out;
}

/* */

.main-photo, .contact-photo {
    margin-left:auto;
    margin-right:auto;
    height: auto;
    justify-content: center;
    text-align: center;
}

.contact-photo {
    width: 100%;
}

.grid-socials {
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 2rem 0 1rem 0;
}

.grid-socials a {
    margin: 1rem 1.2rem;
    transition: all 0.6s ease-in-out;
    display: inline-block;
}


/* .grid-socials a:hover, */
/* .grid-socials a:focus { */
    /* Surrender */
    /* filter: invert(19%) sepia(97%) saturate(1189%) hue-rotate(360deg) brightness(99%) contrast(106%); */
/* } */

.content-container {
    margin: 0rem 1rem;
    text-align: center;
    align-items: center;
}

.music {
    margin: 1rem 2rem;
}

.flex {
    display: flex;
}

button {
    padding: 1rem 1rem;
    border-radius: 10px;
    background: var(--link);
    color: white;
    border: none;
}

button:hover, .button:hover {
    background-color: var(--hover);
    color: white;
}

.button {
    /* background-color: var(--link); */
    color: white;
    padding: 1rem 1rem;
    border-radius: 10px;
    background: var(--link);
    color: white;
    border: none;
}


/* FOOTER */

footer {
    display: block;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 2vh;
    margin: 0.67em;
    /* text-transform: uppercase; */
    font-size: 0.8rem;
}

.no-display {
    display: none;
}

.upper-space {
    padding-top: 1.2rem;
}

.under-space {
    padding-bottom: 1.2rem;
}

.bold {
    font-weight: bolder;
}

hr {
    width: 100%;
    text-align: left;
    margin-left: 0;
}

/* #form {
    max-width: 780;
} */

input, #message {
   width: 100%;
   max-width: 550px;
   padding-left: 0.5em;
}

input {
    
    line-height: 1.25;
}


/* FONTS AND TEXT */

.title {
    font-family: "amandine", sans-serif;
    color: var(--link);
    text-align: left;
    font-size: 2.2rem;
    font-weight: 400;
}

h1 {
    font-family: "houschka-rounded", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    color: black;
    text-decoration: none;
    text-align: left;
  }

.title:hover {
    text-decoration: none;
}
  
  
h2, h3 {
    font-family: "houschka-rounded", sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    margin: 0.67em 0 0.67em 0;
    /* text-transform: uppercase; */
    text-align: center;
}

h3 {
    margin-top: 1em;
    font-size: 1.6rem;
}

p.show, p.subheading {
    font-size: 1.8rem;
    font-weight: 500;
    margin: 1.75em 0 0.67em 0;
}

p.text, ul, li {
    text-align: left;
}

p a {
    color: var(--link);
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

p a:hover,
p a:focus, .nav-link:focus, .nav-link:hover {
    color: var(--hover);
    font-weight: 4000;
    text-underline-offset: 0.25rem;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

footer p {
    margin-bottom: 0;
}

.italic {
    font-style: italic;
}

.show-title a {
    font-weight: 600;
}

p.show-margin.show {
    margin: 0.67em 0;
}

.press-text {
    font-size: 16pt;
}

.bio {
    max-width: 780px;
}

.molengo-regular {
  font-family: "Molengo", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.average-sans-regular {
  font-family: "Average Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* PHOTO AND MEDIA */

img {
    max-width: 100%;
    height: auto;
    width: 100%;
}

.photo-gallery, .music-gallery {
    display: grid;
    row-gap: 1rem;
    column-gap: 0.75rem;
    width: auto;
}

.row-1 {
    grid-template-rows: 1fr;
}

.column-4 {
    grid-template-columns: 1fr;
}

.column-3 {
    grid-template-columns: 1fr;
}

.column-2 {
    grid-template-columns: 1fr;
}

.column-1 {
    grid-template-columns: 1fr;
}

.row-3 {
    grid-template-rows: 1fr 1fr;
}

.row-3 {
    grid-template-rows: 1fr 1fr 1fr;
}

.photo-block,
.uneven-block {
    vertical-align: center;
    background-position: center;
    display: flex;
    position: relative;
    cursor: crosshair;
}

.space {
    padding-top: 0.8rem;
    padding-bottom: 2rem;
}

.margin {
    margin-bottom: 2rem;
}

.video-player {
    justify-content: center;
    text-align: center;
    max-height: 800px;
    min-height: 300px;
    height: 100%;
}

section {
    max-width: 1320px;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

.block {
    background-color: var(--hover);
    padding: 1em 0em 3em 0em;
    margin-bottom: 2em;
    color: white;
    max-width: auto;
    /* height: 50%; */
    width: auto;
}

.block-main {
    /* background-color: var(--hover); */
    background-color:rgba(52, 0, 17, 0.6);
    background-image: url('../img/chigong-flowers.jpg');
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-size: 100%;
    padding: 8em 0em 8em 0em;
    margin-bottom: 2em;
    color: white;
    max-width: auto;
}

.block p {
   margin: 0 0 1em 0;
   padding: 0 1em;
    color: white;
    /* max-width: 780px; */
    text-align: center;
}

.block img {
    margin: 0 0 2em 0;
}

.block .subheading {
    font-size: 1.4rem;
}

.options {
    color: white;
    padding: 3em 0 0 0;
}

.options a {
    color: white;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    transition: all 0.6s ease-in-out
}

.options a:hover, .album a:focus{
    color: white;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    transition: all 0.6s ease-in-out
}

#navbarSupportedContent {
    justify-content: right;
}

.me-md-auto {
    margin-right: 0 !important;
} 

@media (max-width: 50rem) {
    .justify-content-center {
        justify-content: space-between !important;
    }
}

/* fix logo placement */
@media (min-width: 1000px) {
    .me-md-auto {
        margin-right: auto !important;
    }
}
   

@media only screen and (max-height: 31rem) {
    header {
        padding-top: 1rem;
    }
}

@media only screen and (min-width: 50rem) {
    .column-3 {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .column-2 {
        grid-template-columns: 1fr 1fr;
    }

    .contact-photo {
        width: 50%;
    }

    .content-container {
        margin-left: auto;
        margin-right: auto;
    }

    .album {
        padding: 1em 10em 4em 10em;
    }
}